backend/.env
backend/nyay-api
backend/nyay-api.exe

mobile/.expo/
mobile/node_modules/
mobile/.env
mobile/android/
mobile/ios/
mobile/dist/
mobile/web-build/

.DS_Store
Thumbs.db
*.log

staters/
skills-lock.json
Data/
supabase/
.graphifyignore
.agents/
.github/
.git/
.env
package-lock.json
yarn.lock
node_modules/
signing_key.json